.wrapper {
    background-size: cover;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  }
  
.form {
    border-right: 2px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
    height: 100vh;
    max-width: 450px;
    padding-top: 80px;
  
    @media (max-width: $mantine-breakpoint-sm) {
      max-width: 100%;
    }
}
  
.title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
}